# Compiled Object files
*.slo
*.lo
*.o
*.obj
.vs

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.a
*.lib
*.opensdf
*.opendb


# Compiled Static libraries
*.lai
*.la
*.a
*.sdf
*.sdu
*.ilk
*.pdb
*.user
*.filters
*.tlog
*.sln
*.suo
*.ncb
*.sdf
*.pdb


#othre
*.yuv
*.264
*.mp4
*.aac
*.pcm
*.swp
#dir
ipch
Release
Debug
/x64
/trace.zip
